<html>
  <head>
    <title>Add University</title>
  </head>
  <body>
    <table>
      <form action='/adduniv' method='POST'>
        <tr><td>Name: </td><td><input type="text" name="name"></td></tr>
        <tr><td>Type: </td><td><input type="radio" name="type" value="public">public <input type="radio" name="type" value="private">private</td></tr>
        <tr><td>Rank: </td><td><input type="text" name="rank"></td></tr>
        <tr><td>Year: </td><td><input type="text" name="year"></td></tr>
        <tr><td><button type="submit" value="submit">Submit</button></td></tr>
      </form>
    </table>
  </body>
</html>
