<html>
  <head>
    <title>University Details</title>
  </head>
  <body>
  <h1><%= data[0].name %></h1>
  <ul>
  <li><b>Type: </b><%= data[0].type %></li>
  <li><b>Rank: </b><%= data[0].rank %></li>
  <li><b>Year of Est. :</b><%= data[0].year %></li>
  </ul>
  <a href="/display">Back</a>
  </body>
</html>
